.main-header {
    background-color: @color-dark;
}

.main-header__logo {
    width: 100px;
    height: 50px;
}

.main-header__cols {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.main-header__nav {
    ul {
        display: flex;
        margin: 0 -20px;
        padding: 0;
        list-style: none;
        li {
            margin: 0 20px;
        }
    }
}
