.recent-news {
    margin-bottom: 25px;
    padding: 30px 0;
    border-bottom: 2px solid #edf8f5;
}

.recent-news__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.recent-news__desc {
    margin-bottom: 20px;
    font-weight: 100;
}

.recent-news__time {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #1ebea5;
    color: #fff;
}

.recent-news__more {
    padding: 5px 10px;
    background-color: #edf8f5;
    border-radius: 25px;
    color: #000;
    text-decoration: none;
    text-transform: lowercase;
    transition: background-color 0.25s;
    &:hover {
        color: #fff;
        text-decoration: none;
        background-color: #1ebea5;
        transition: background-color 0.25s;
    }
}
